* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.root {
  --primary-color: #19191b;
  --secondary-color: #373b69;
}

html,
body {
  width: 100%;
  height: auto;
  margin: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  background-color: black;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

header {
  padding: 1rem;
  background-color: #19191b;
}

.nav_bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}


.left img {
  width: 73%;
  height: auto;
  position: relative;
}

.left li img {
  width: 19%;
  height: auto;
}

.left {
  width: 25%;
}


nav ul li {
  list-style: none;
}

input.search {
  background-color: #f5f5fb;
  height: auto;
  width: 100%;
  font-size: 1rem;
  color: rgb(247, 244, 244);
}

.srch_icon {
  width: 30px;
  padding-bottom: 10px;
}


.all {
  padding-top: 10%;
  padding-left: 5px;
}

.toggle {
  width: 23%;
}


.search:focus {
  outline: 0;
  background-color: #f8f8fa;
}

.search::placeholder {
  color: #151516;
}

.search:hover {
  color: #24231f;
}

.right {
  width: 35%;
  height: auto;
  position: relative;
  margin-right: -8%;
}

.right img {
  width: 92%;
  height: auto;
  margin-right: 11%;
}

.star span {
  background-color: rgb(46, 39, 39);
  padding: 2px 1px;
  border-radius: 3px;
  font-weight: bold;
}

.star span.green {
  color: lightgreen;
}

.star span.orange {
  color: orange;
}

.star span.red {
  color: red;
}

.slider wrap {
  position: relative;
  overflow: hidden;
  height: 150px;
  width: auto;
}

.slider-main {
  position: absolute;
  width: 87%;
  overflow: hidden;
}

.heading {
  color: rgb(235 192 39);
  padding-top: 5%;
  margin-bottom: 5%;
  font-family: "Roboto", sans-serif;
}

.sub_heading {
  color: white;
  padding-left: 15px;
  position: relative;
  margin-bottom: 10px;
}

.sub_heading::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 10px;
  width: 5px;
  height: 100%;
  background-color: #f5c518;
}

.sub1_head {
  color: #a5a5a5;
  margin-bottom: 2%;
}

.content img {
  height: 280px;
  width: 190px;
}

.content {
  display: inline-block;
  height: 472px;
  width: 169px;
  color: white;
  background-color: #1a1a1a;
  font-family: "Roboto", sans-serif;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 20px;
  position: sticky;
  overflow-x: hidden;
}

.star {
  padding-top: 15px;
  padding-left: 10px;
  height: 36px;
  width: 167px;
}


.review {
  height: 40px;
  padding-left: 10px;
}

.show>a>p {
  background-color: #060505;
  border: none;
  color: #5799ef;
  border: none;
  padding: 7px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 15px;
  border-radius: 10px;
}

.fa-ticket {
  margin-right: 10px;
}

.trailer>a>p {
  background-color: #1a1a1a;
  border: none;
  color: whitesmoke;
  border: none;
  padding: 1px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 35px;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 78%;
  color: whitesmoke;
  background: black;
  opacity: 0.3;
  border-radius: 5px;
  padding: 24px 15px;
  font-size: 30px;
  font-weight: bold;
  border: 1px solid whitesmoke;
}

.next {
  right: 11.70%;
}

.prev {
  left: 10.25%;
  transition: 0.4s;
}

.arrow:hover {
  color: rgb(239, 180, 70);
  background: black;
  opacity: 0.7;
}

.fa-chevron-right:hover {
  color: rgb(239, 180, 70);
}

.fa-chevron-right {
  cursor: pointer;
}