.flex {
    display: flex;
}

.item-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.Uppercase {
    text-transform: uppercase;
}

.semi-bold {
    font-weight: bolder;
    color: whitesmok;
}

.background {
    background-color: #f6f3f3;
}

.color {
    color: #f6f3f3;
}

.size {
    width: 50%;
    height: auto;
}

.size_t {
    margin-top: .2%;
    width: 14%;
    height: 18.8%;
    border-radius: 3px;
}