.flex {
    display: flex;
}

.item-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.Uppercase {
    text-transform: uppercase;
}

.semi-bold {
    font-weight: bolder;
    color: whitesmok;
}

.background {
    background-color: #f6f3f3;
}

.color {
    color: #f6f3f3;
}

.size {
    width: 50%;
    height: auto;
}

.size_t {
    width: 10.5%;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin-bottom: 30px
}

.padding {
    padding-top: 5px;
}